
<div class="container mt-5">
  <div class="row">
    
    <div class="col-md-4 mb-4" *ngFor="let list of lists">
      
      <div class="card shadow-sm rounded-lg h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3">{{ list.name }}</h5>
          <p class="card-text text-center text-muted mb-3">
            Number of games: {{ list.gamesIds.length }}
          </p>
          <div class="mt-auto">
            <button class="btn btn-primary w-100" (click)="viewGames(list.id)">View Games</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
