<!-- <footer>
  <div class="footer-content">
    <p>&copy; 2024 AppGame Inc</p>
  </div>
   
  </footer> -->
  <footer class="slim-footer">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">Developers</p>
        <ul class="content__container__list">
          <li class="content__container__list__item">Wilson</li>
          <li class="content__container__list__item">Ricardo</li>
          <li class="content__container__list__item">Rafa</li>
        </ul>
      </div>
    </div>
  </footer>
  

