// header {
//     background-color: #333;
//     color: #fff;
//     padding: 0.5em 1em; 
//   }
  
.avatar-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  width: 100%;
  position: fixed; 
  top: 0; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
  }
  
  h1 {
    font-size: 2rem; 
    color: #fff;
    z-index: 1100; 
    position: relative;
    margin: 0; 
    left: 8px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  
  .profile-icon {
    width: 28px; 
    height: 28px; 
    border-radius: 50%;
  }
  
  .logout-button {
    background-color: #ff4b4b;
    color: #fff;
    border: none;
    padding: 0.3em 0.8em; 
    cursor: pointer;
    border-radius: 4px;
  }
  
  .logout-button:hover {
    background-color: #ff1f1f;
  }
  
  .userName {
    color: #fff;
    font-size: 0.9rem; 
    font-weight: bold;
    margin-right: 0.5em;
    
  }


main {
  padding-top: 70px; 
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

h1 {
  font-size: 2rem;
  color: #fff;
  z-index: 1100;
  margin: 0;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.profile-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logout-button {
  background-color: #ff4b4b;
  color: #fff;
  border: none;
  padding: 0.3em 0.8em;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #ff1f1f;
}

.userName {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 0.5em;
}

.profile-icon-button {
  background: none;       /* Remove background */
  border: none;           /* Remove border */
  padding: 0;             /* Remove any padding */
  cursor: pointer;       /* Ensure the cursor is a pointer to indicate it's clickable */
}

.profile-icon-button .profile-icon {
  width: 40px;            /* Adjust width and height as needed */
  height: 40px;
  border-radius: 50%;     /* Make it round (circle) */
  object-fit: cover;      /* Ensure the image fits within the circle without distortion */
}