<header>
  <div class="header-content">
    <div class="header-container">
      <app-nav></app-nav>
      <h1>AppGame</h1>
    </div>

    <div class="profile-section">
      <label class="userName">{{ profile?.name || 'Guest' }}</label>
      <button (click)="navigateToUpdateProfile()" class="profile-icon-button">
        <img [src]="profile?.avatar || defaultAvatar" alt="Profile Icon" class="profile-icon">
      </button>
      <button class="logout-button">Logout</button>
    </div>
  </div>
</header>