<body>
    <div class="lista">
        <div class="card-group">
            @for (game of games; track game.id) {
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]=game.thumbnail alt="cover">
                    <div class="card-body">
                        <h5 class="card-title">{{game.title}}</h5>
                        <p class="card-text">{{game.shortDescription}}.</p>
                        <a href="#" class="btn btn-primary">Ver detalhes</a>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
</body>

