<div *ngIf="games.length > 0; else noGames">
  <br>
  <button onclick="window.history.back()" class="btn btn-primary back-button mt-5">Back</button>
  <h2 class="animated-text text-center mb-4">{{currentListName }}</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let game of games">
      <div class="card h-100">
        <img [src]="game.thumbnail" class="card-img-top" alt="{{ game.title }}" />
        <div class="card-body">
          <h5 class="card-title">{{ game.title }}</h5>
          <p class="card-text">{{ game.shortDescription }}</p>
          

          
          <button class="btn btn-danger mt-2" (click)="removeGameFromList(game.id)">Remove</button>

          
          <button class="btn btn-warning mt-2" type="button" (click)="toggleMoveOptions(game.id)">
            Move
          </button>

          <div *ngIf="showMoveOptions[game.id]" class="mt-2">
            <ul class="list-group">
              <li *ngFor="let list of getAvailableLists(game.id)" class="list-group-item">
                <button class="btn btn-link" (click)="moveGameToList(game.id, list.id)">{{ list.name }}</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noGames>
  <p class="text-center">No games found for this list.</p>
</ng-template>
