html, body {
  height: 100%;  
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-header, app-nav, app-footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  overflow: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.error-snackbar .mdc-snackbar__surface {
  background-color: #f44336 !important;
}